body
{
	min-height: 100vh;
	background: #031321;
	font-family: Gilroy Extrabold;
}
.ps
{
	position: absolute;
	bottom: 0;
	left: 0;
}
.Header
{
	position: sticky;
}
a
{
	position: relative;
	align-self: flex-start;
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.15s;
	border-radius: 40px;
}
a:hover
{
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.15s;
}
a:active
{
	color: #39ff14;
	background: #24E500;
	box-shadow: 0 0 10px #39ff14, 0 0 40px #39ff14, 0 0 80px #39ff14;
}
.pfp
{
	border-radius: 50%;
	max-width: 3%;
	position:fixed;
	right: 0;
	top: 0;
	padding: 15px;
}
.Content
{
	margin: 170px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items:center;
}
